[main]
#plugins=ifcfg-rh

# Do not update DNS
dns=none

# Do not overwrite /etc/resolv.conf
rc-manager=unmanaged

[logging]
# You will find the logfiles in syslog, for example via
#   $ journalctl -u NetworkManager

#level=TRACE
#domains=ALL
