#SyslogFacility AUTH
#LogLevel INFO

#LoginGraceTime 2m
#StrictModes yes
#MaxAuthTries 6
#MaxSessions 10

PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile     .ssh/authorized_keys
UsePAM no
X11Forwarding yes
PrintMotd no
#Banner none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp  {{ sftp_path }}
PasswordAuthentication yes
PermitEmptyPasswords {{ passwd_auth }}
